@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/ProximaNova-Regular.eot');
  src: url('../fonts/proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/proximanova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
 @font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/proximanova/ProximaNova-Semibold.eot');
    src: url('../fonts/proximanova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/proximanova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Proxima Nova Black';
    src: url('../fonts/proximanova/ProximaNova-Black.eot');
    src: url('../fonts/proximanova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/ProximaNova-Black.woff') format('woff'),
    url('../fonts/proximanova/ProximaNova-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }