.button
  width: 138px
  height: 30px
  background-color: $main-color
  border: none
  font-size: 14px
  font-weight: 400
  font-family: "Proxima Nova"
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer

// button.owl-dot
//    width: 20px
//    height: 20px
//    background-color: #ffffff

.owl-dot:active, .owl-dot:focus
  outline: none