.container
  max-width: 1280px
  margin-left: auto
  margin-right: auto
body
  margin: 0
.button
  width: 138px
  height: 30px
  background-color: $main-color
  border: none
  font-size: 14px
  font-weight: 400
  font-family: "Proxima Nova"
  text-transform: uppercase
  outline: none
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  &__title
    width: 244px
    height: 58px
    background-color: $main-color
    font-size: 28px
    text-transform: uppercase
    text-align: center
    vertical-align: middle
    font-family: "Proxima Nova Semibold"
    line-height: 60px
    margin-left: 4%
.main-color
  color: $main-color

.input.invalid
  border: 1px solid red

div.invalid
  position: absolute
  top: -18px
  left: 110px
  color: red
.brif div.invalid
  left: 150px

// button.owl-dot
//    width: 20px
//    height: 20px
//    background-color: #ffffff

.owl-dot:active, .owl-dot:focus
  outline: none

a
  text-decoration: none
  color: #fff

.invisible
  display: none

#button-up
    left: 0
    margin: 0
    position: fixed
    bottom: 50px
    outline: none
    width: 60px
    color: #333333
    line-height: 30px
    text-decoration: none
    padding: 0px 0 0 28px
    background: url(../img/icon-up.png) no-repeat 7px 

    border-radius: 0 4px 4px 0
    -webkit-border-radius: 0 4px 4px 0
    -moz-border-radius: 0 4px 4px 0
    -o-border-radius: 0 4px 4px 0

    box-shadow: 0 2px 4px #999
    -webkit-box-shadow: 0 2px 4px #999
    -moz-box-shadow: 0 2px 4px #999
    -o-box-shadow: 0 2px 4px #999
    cursor: pointer