.button
  width: 138px
  height: 30px
  background-color: $main-color
  border: none
  font-size: 14px
  font-weight: 400
  font-family: "Proxima Nova"
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  &__title
    width: 244px
    height: 58px
    background-color: $main-color
    font-size: 28px
    text-transform: uppercase
    text-align: center
    vertical-align: middle
    font-family: "Proxima Nova Semibold"
    line-height: 60px
    margin-left: 4%
.main-color
  color: $main-color

// button.owl-dot
//    width: 20px
//    height: 20px
//    background-color: #ffffff

.owl-dot:active, .owl-dot:focus
  outline: none