.footer
  background: #000
  height: 134px
  &-container
    height: 100%
    display: flex
    justify-content: space-around
    align-items: center
    color: #fdfcfc
  &-address
    &__map
      margin-right: 13px
    &__location
      font-family: "Proxima Nova"
      font-size: 20px
      font-weight: 400
      line-height: 28px
      color: #fdfcfc
  &-links
    &__link
      margin-right: 10px
      -webkit-filter: grayscale(1)
      &:hover
        -webkit-filter: none
        cursor: pointer
  &-contacts
    &__mail
      font-family: "Proxima Nova"
      font-size: 18px
      font-weight: 400
      line-height: 40px
    &__devision
      margin: 15px
    &__phone
      font-family: "Proxima Nova"
      font-size: 18px
      font-weight: 700
      line-height: 40px
      text-transform: uppercase
      &Regular
        font-weight: 400
