.hero
  background-color: grey
  padding-left: 5%
  background: url('../img/hero/hero-bg-1.png') no-repeat
  background-color: rgba(10,10,10,2)
  &__title
    font-size: 35px
    text-transform: uppercase
    color: $main-color
    font-family: "Proxima Nova Semibold"
    padding-top: 211px
    
  &__subtitle
    font-size: 35px
    color: #fffffe
    font-family: "Proxima Nova"
    
  &__paragraph
    padding-top: 41px
    opacity: 0.42
    color: #fffffe
    font-family: "Proxima Nova"
    font-size: 20px
  &__button
    margin-top: 53px
    font-family: "Proxima Nova Semibold"
    margin-bottom: 200px