.why
  &-container
    position: relative
  &__title
    width: 244px
    height: 58px
    background-color: $main-color
    font-size: 28px
    text-transform: uppercase
    text-align: center
    vertical-align: middle
    font-family: "Proxima Nova Semibold"
    line-height: 60px
    margin-left: 4%
    position: absolute
    top: -50px
  &-block
    display: flex
  &-text
    padding-top: 97px
  &-list
    list-style: none
    
    &__number
      color: #ffc800
      font-family: "Proxima Nova Semibold"
      font-size: 35px
      font-weight: 400
      line-height: 25px
      text-transform: uppercase
    &__dash
      top: 11px
      position: relative
      margin-left: 10px
      margin-right: 10px
    &__content
      color: #020202
      font-family: "Proxima Nova Semibold"
      font-size: 20px
      font-weight: 400
      line-height: 25px
      
    &__item
      margin-bottom: 80px
      max-width: 400px
      display: flex
      align-items: flex-start
  &-images
    width: 60%
    background-color: #f1f1f1
    display: flex
    flex-wrap: wrap
    padding-top: 96px
    padding-bottom: 95px
    &__block
      text-align: center
      width: 198px
      height: 168px
      background-color: #ffffff
      margin: 15px
      padding-top: 16px
    &__span
      display: block
      color: #020202
      font-family: "Proxima Nova"
      font-size: 18px
      font-weight: 400
      line-height: 23px
      text-transform: uppercase
      margin-top: 20px