body {
  margin: 0;
}

.button {
  width: 138px;
  height: 30px;
  background-color: #ffc800;
  border: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Proxima Nova";
  text-transform: uppercase;
}

.button:hover {
  background-color: #ffd333;
  cursor: pointer;
}

.section__title {
  width: 244px;
  height: 58px;
  background-color: #ffc800;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-family: "Proxima Nova Semibold";
  line-height: 60px;
  margin-left: 4%;
}

.main-color {
  color: #ffc800;
}

.input.invalid {
  border: 1px solid red;
}

div.invalid {
  position: absolute;
  top: -18px;
  left: 110px;
  color: red;
}

.brif div.invalid {
  left: 150px;
}

.owl-dot:active, .owl-dot:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.invisible {
  display: none;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova/ProximaNova-Regular.eot");
  src: url("../fonts/proximanova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proximanova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/proximanova/ProximaNova-Semibold.eot");
  src: url("../fonts/proximanova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/proximanova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  margin-left: 3%;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__span {
  margin-left: 24px;
  margin-right: 24px;
}

.navbar__url {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  position: relative;
}

.navbar__url:hover {
  color: #ffc800;
}

.navbar__url:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ffc800;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar__url:hover:after {
  width: 100%;
}

.navbar__url:focus:after {
  width: 100%;
}

.navbar__info {
  margin-right: 3%;
}

.navbar__phone {
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  line-height: 40px;
  margin-left: 6px;
  font-family: "Proxima Nova";
}

.navbar__button {
  margin-left: 45px;
  text-transform: none;
}

@media (max-width: 1200px) {
  .navbar__phone {
    font-size: 12px;
  }
  .navbar__url {
    font-size: 12px;
  }
  .navbar__span {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__span {
    margin: 0;
  }
}

@media (max-width: 321px) {
  .navbar__urls {
    display: none;
  }
}

.hero {
  margin-top: -25px;
}

.hero-block-1 {
  padding-left: 3%;
  background-image: url("../img/hero/hero-bg-1.png");
  background-color: #0a0a0a;
  background-size: cover;
}

.hero-block-2 {
  padding-left: 3%;
  background-image: url("../img/hero/hero-bg-2.jpg");
  background-color: rgba(100, 100, 100, 0.1);
  background-size: cover;
}

.hero-block-3 {
  padding-left: 3%;
  background: url("../img/hero/hero-bg-3.jpg") no-repeat;
  background-color: #0a0a0a;
  background-size: cover;
}

.hero-block-4 {
  padding-left: 3%;
  background: url("../img/hero/hero-bg-4.jpg") no-repeat;
  background-color: #0a0a0a;
  background-size: cover;
}

.hero__title {
  font-size: 35px;
  text-transform: uppercase;
  color: #ffc800;
  font-family: "Proxima Nova Semibold";
  padding-top: 202px;
  margin-bottom: 15px;
}

.hero__subtitle {
  font-size: 35px;
  color: #fffffe;
  font-family: "Proxima Nova";
}

.hero__paragraph {
  padding-top: 10px;
  opacity: 0.42;
  color: #fffffe;
  font-family: "Proxima Nova";
  font-size: 20px;
}

.hero__button {
  margin-top: 30px;
  font-family: "Proxima Nova Semibold";
  margin-bottom: 200px;
  width: 185px;
  height: 44px;
}

@media (max-width: 321px) {
  .hero__title {
    font-size: 25px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
  .hero__paragraph {
    font-size: 18px;
  }
}

.services {
  background-color: #f1f1f1;
  margin-top: 133px;
  padding-top: 104px;
  margin-bottom: 143px;
  padding-bottom: 117px;
}

.services__container {
  position: relative;
}

.services__title {
  width: 244px;
  height: 58px;
  background-color: #ffc800;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-family: "Proxima Nova Semibold";
  line-height: 60px;
  margin-left: 4%;
  position: absolute;
  top: -155px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  position: relative;
  text-align: center;
  margin: 10px;
  -webkit-filter: grayscale(1);
}

.card__image1 {
  width: 100%;
}

.card:hover {
  -webkit-filter: none;
}

.card__description {
  position: absolute;
  top: 60px;
  margin: auto;
  left: 0;
  right: 0;
}

.card__description:hover {
  -webkit-filter: none;
}

.card__text {
  color: #fcfafa;
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 26px;
  max-width: 250px;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 32px;
}

.card__text__narrow {
  max-width: 240px;
}

.card__button {
  display: inline-block;
  width: 138px;
  height: 33px;
  background-color: #ffc800;
  line-height: 31px;
}

.card__button:hover {
  background-color: black;
}

.card__button:hover .card__link {
  display: none;
}

.card__button:hover .card__price {
  display: inline;
  color: white;
}

.card__link {
  color: #020202;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  line-height: 15.93px;
  text-transform: uppercase;
}

.card__price {
  display: none;
}

.why-container {
  position: relative;
}

.why__title {
  width: 244px;
  height: 58px;
  background-color: #ffc800;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-family: "Proxima Nova Semibold";
  line-height: 60px;
  margin-left: 4%;
  position: absolute;
  top: -50px;
}

.why-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-text {
  padding-top: 80px;
}

.why-list {
  list-style: none;
}

.why-list__number {
  color: #ffc800;
  font-family: "Proxima Nova Semibold";
  font-size: 35px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.why-list__dash {
  top: 11px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.why-list__content {
  color: #020202;
  font-family: "Proxima Nova Semibold";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.why-list__item {
  margin-bottom: 70px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.why-images {
  width: 58%;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 96px;
  padding-bottom: 95px;
  padding-left: 68px;
}

.why-images__block {
  text-align: center;
  width: 198px;
  height: 155px;
  background-color: #ffffff;
  margin: 17px;
  margin-top: 0;
  padding-top: 16px;
}

.why-images__span {
  display: block;
  color: #020202;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .why-images__block {
    width: 130px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .why-images {
    display: none;
  }
}

@media (max-width: 321px) {
  .why-images {
    display: none;
  }
  .why-list__item {
    margin-bottom: 20px;
  }
}

.reviews {
  margin-top: 142px;
}

.reviews__title {
  position: absolute;
  top: -50px;
}

.reviews__container {
  background: black;
  padding-top: 115px;
  position: relative;
}

.reviews__container .owl-dots {
  bottom: 50px;
}

.reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.reviews-block__comments {
  margin-bottom: 120px;
  color: white;
  font-family: "Proxima Nova";
  font-size: 15px;
}

.reviews-block__name {
  color: #ffc800;
  font-family: "Proxima Nova Semibold";
  font-size: 20px;
  font-weight: 400;
  line-height: 1px;
}

.reviews-block__like {
  display: inline;
  width: auto;
}

.reviews-block__dislike {
  margin-left: 30px;
}

.reviews-block__img {
  display: inline;
  width: auto;
}

.reviews-block__1, .reviews-block__2 {
  margin-left: auto;
  margin-right: auto;
}

.reviews-block__review {
  max-width: 500px;
  color: #fffffd;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

@media (max-width: 321px) {
  .reviews {
    display: none;
  }
}

.news {
  background-color: #f1f1f1;
  margin-top: 147px;
  position: relative;
  padding-top: 87px;
  padding-bottom: 72px;
}

.news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__title {
  position: absolute;
  top: -50px;
}

.news-button {
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  width: 300px;
  height: 58px;
  background-color: #ffc800;
  margin-top: 50px;
}

.news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-block {
  max-width: 377px;
  margin-right: 20px;
}

.news-block__image {
  margin-bottom: 30px;
}

.news-block-button {
  text-align: center;
}

.news-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 330px;
}

.news-block__title {
  display: inline;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.news-block__data {
  display: inline;
  text-align: right;
  margin-left: auto;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-transform: uppercase;
}

.news-block__day {
  background-color: #ffc800;
}

.news-block__paragraph {
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 324px;
  margin-top: 22px;
}

@media (max-width: 768px) {
  .news-block__paragraph {
    margin-bottom: 30px;
  }
}

@media (max-width: 321px) {
  .news-block__paragraph {
    font-size: 14px;
  }
}

.yandexmap {
  -webkit-filter: grayscale(1);
}

.map {
  position: relative;
}

.request {
  width: 397px;
  height: 385px;
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  top: 140px;
  left: 4%;
}

.request__header {
  font-family: "Proxima Nova Semibold";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 43px;
}

.request__button {
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  width: 75%;
  height: 58px;
  background-color: #ffc800;
  margin-top: 20px;
}

.brif-form {
  position: relative;
}

.brif-input {
  width: 80%;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  color: #020202;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: italic;
  margin-bottom: 45px;
}

.brif-input:focus {
  outline: none;
  border: 2px solid orange;
}

@media (max-width: 321px) {
  .request {
    width: 90%;
    left: 5%;
  }
  .brif-input {
    font-size: 15px;
  }
}

.footer {
  background: #000;
  height: 134px;
}

.footer-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fdfcfc;
}

.footer-address__map {
  margin-right: 13px;
}

.footer-address__location {
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fdfcfc;
}

.footer-links__link {
  margin-right: 10px;
  -webkit-filter: grayscale(1);
}

.footer-links__link:hover {
  -webkit-filter: none;
  cursor: pointer;
}

.footer-contacts__mail {
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

.footer-contacts__devision {
  margin: 15px;
}

.footer-contacts__phone {
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-contacts__phoneRegular {
  font-weight: 400;
}

@media (min-width: 1200px) {
  .footer-contacts__mailwrap {
    display: inline;
  }
  .footer-contacts__phonewrap {
    display: inline;
  }
}

@media (max-width: 768px) {
  .footer-links {
    display: none;
  }
  .footer-contacts__devision {
    display: none;
  }
  .footer-contacts__mailwrap {
    display: block;
  }
  .footer-contacts__phonewrap {
    display: block;
  }
}

@media (max-width: 321px) {
  .footer__image2 {
    display: none;
  }
  .footer-address__location {
    font-size: 14px;
    line-height: 17px;
  }
  .footer-contacts__mail {
    font-size: 14px;
  }
  .footer-contacts__phone {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */